.bg {
  background-color: #EA6A47;
}

.button {
  background-color: #ea6a47;
  border-color: #ea6a47;
  padding-left: 1rem;
}

.button:hover {
  background-color: 3A445D;
  border-color: green;
}

.show{
    background-color: green;
}

.menu {
  text-align: left;
}
