.noleft {
  padding-top: 5rem;
  margin-left: 10rem;
  margin-right: 10rem;
  text-align: left;
}

.text {
  line-height: 2.5rem;
  margin-right: 5rem;
  text-align: left;
}

.left {
  text-align: left;
  padding-top: 2rem;
}
